<div class="uk-container uk-container-center">
    <div class="uk-grid uk-grid-small" data-uk-grid-match>
        <table class="uk-table uk-table-hover uk-table-striped uk-table-middle">
            <thead>
            <tr>
                <th>日志编号</th>
                <th>时间</th>
                <th>设备名称</th>
                <th>位置</th>
                <th>信息</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in $ctrl.logs">
                <td>{{log.alertId}}</td>
                <td>{{log.occurTime}}</td>
                <td>{{log.deviceName}}</td>
                <td>{{log.deviceLocate}}</td>
                <td>{{log.message}}</td>
                <td><a class="uk-button uk-button-small uk-button-success" ng-disabled="log.solved" ng-click="$ctrl.solve(log)">{{log.solved?'已处理':'处理'}}</a> <button class="uk-button uk-button-small uk-button-primary" type="button"  ng-disabled="log.ignored" ng-click="$ctrl.ignore(log)">{{log.ignored?'已忽略':'忽略'}}</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>